<div class="container text-center">

    <form *ngIf="heroForm" [formGroup]="heroForm" (ngSubmit)="onSubmit()">

        <div class="form-group row mb-3">
            <div class="col">
                <label class="float-end" for="name">Name:</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="name" formControlName="name" (blur)="inputTouched = true" />

            </div>
            <div class="col">
                <div *ngIf="inputTouched && heroForm.get('name') && heroForm.get('name')?.hasError('required')"
                    class="text-danger">Name is required</div>
                <div *ngIf="inputTouched && heroForm.get('name') && heroForm.get('name')?.hasError('pattern')"
                    class="text-danger">Invalid name format</div>
                <div *ngIf="inputTouched && heroForm.get('name') && heroForm.get('name')?.hasError('exists')"
                    class="text-danger">Hero with this name already exists</div>
            </div>
        </div>

        <div class="form-group row mb-3">
            <div class="col">
                <label class="float-end" for="element">Element:</label>
            </div>
            <div class="col">
                <select class="form-control" id="element" formControlName="element" (blur)="inputTouched = true"
                    required>
                    <option value="earth">Earth</option>
                    <option value="water">Water</option>
                    <option value="air">Air</option>
                    <option value="ground">Ground</option>
                </select>
            </div>
            <div class="col">
                <div *ngIf="inputTouched && heroForm.get('element') && heroForm.get('element')?.hasError('required')"
                    class="text-danger">Element is required.</div>
            </div>
        </div>

        <div class="form-group row mb-3">
            <div class="col-4">
                <label class="float-end" for="power_rank">Power Rank:</label>
            </div>
            <div class="col-4 ms-4">
                <app-power-rank-control [disabled]="isDisabled" [value]="heroForm.get('power_rank')?.value"
                    (valueChange)="heroForm.get('power_rank')?.setValue($event)" (blur)="inputTouched = true"
                    (valueChange)="powerRankChange.emit($event)" formControlName="power_rank"></app-power-rank-control>


            </div>
            <div class="col">
                <div *ngIf="inputTouched && heroForm.get('power_rank')?.hasError('required')" class="text-danger">Power
                    Rank is required</div>
                <div *ngIf="inputTouched && heroForm.get('power_rank')?.hasError('min')" class="text-danger">Power Rank
                    must be at least 1</div>

            </div>
        </div>



    </form>
</div>